{%extends 'base.html'%}
{%block content%}   
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shipperd</title>
  <link rel ='stylesheet' href="../static/style.css">
</head>

<body>
  <div class="navbar">
    {%include 'nav.html'%}
  </div>

  <div class="main-image-hero">
    {%include 'hero.html'%}
  </div>
  <div class="b-example-divider"></div>
  <div class="feature-box">
    {%include 'feature.html'%}
  </div>

  <div class = 'secondryimage'>

  </div>

  <div class = "feature-box">

  </div>

  <div class = 'action-box'>

  </div>


    <footer class="footer mt-auto py-3 bg-body-tertiary" data-bs-theme="dark">
      <div class="container">
        <table>
          <tr>
            <td class="text-body-secondary">
                <h2> Useful Links</h2>
                <ul>
                  <li>Home </li>
                  <li>About us  </li>
                  <li>FAQ </li>
                  <li>Terms & Conditions </li>
                </ul>
            </td>
            <td class="text-body-secondary">  
                <h2> Useful Links</h2>
                <ul>
                  <li>Home </li>
                  <li>About us  </li>
                  <li>FAQ </li>
                  <li>Terms & Conditions </li>
                </ul>
            </td>
          </tr>  
        </table>
      </div>
    </footer>



</body>
</html>
{%endblock%}
