<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method = 'POST' >
    {{form.hidden_tag()}}

    {{form.name.label}}<br>
    {{form.name}}<br>
   
    {{form.username.label}}<br>
    {{form.username}}<br>
    
    {{form.email.label}}<br>
    {{form.email}}<br>
    
    {{form.address.label}}<br>
    {{form.address}}<br>
    
    {{form.phone.label}}<br>
    {{form.phone}}<br>

    {{form.password.label}}<br>
    {{form.password}}<br>

    {{form.submit}}
    
    </form>
</body>
</html>